<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="referrer" content="no-referrer">
  <meta name="color-scheme" content="light dark">
  <meta name="format-detection" content="telephone=no">
  <title><%= typeof title !== 'undefined' ? title : 'Обучающий сайт' %></title>
  <link href="/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
  <link href="/app.css?v=<%= assetVersion %>" rel="stylesheet">
  <link rel="icon" href="/favicon.ico">
</head>
